/* GLOBAL */
@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MyriadPro-Regular.otf);
}
body{
    font-family: "Myriad Pro";
}
.content-container{
    background-color: #f2f2ec;
    border-radius: 10px;
}
/* BUTTONS */
.ia-btn{
	border-radius: 7px;
	color: #fff;
	border: 0;
	text-transform: uppercase;
	font-size:10px;
}
.yellow-btn{
	background-color:rgb(245,173,91);
}
.blue-btn{
	background-color:rgb(99,186,196);
	padding:6px 30px;
}
.image-btn{
    padding: 15px 18px 18px;
    border-radius: 10px;
}
.social-link{
    display: inline-block;
    width: 31px;
    height: 27px;
}
.social-link.facebook{
    background: url(../images/facebook-link.png) no-repeat #fff;
}
.social-link.twitter{
    background: url(../images/twitter-link.png) no-repeat #fff;
}
.social-link.vimeo{
    background: url(../images/vimeo-link.png) no-repeat #fff;
}
/* INPUTS */
input.form-control{
    border-radius: 10px;
    height: 31px;
    width: 340px;
    border: 2px solid #5d3d1d;
    font-size: 12px;
}
.search-input-container{
    position:  relative;
    padding-left: 5px;
}
.search-input-container .search-input~i.fa{
    color:#a1a3ac;
}
.search-input-container .search-input~i.fa-search{
    position: absolute;
    top: 7px;
    left: 320px;
    font-size: 15px;
}
.icon{
    display: inline-block;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: 50% 50%;
}
.icon.cart-icon{
    background-image: url(../images/commerce.png);
}
.icon.favorite-icon{
    background-image: url(../images/favorite.png);
}

/* TEXTS */
.yellow-text{
    color: #e89638;
    letter-spacing: 1.1px;
}
.gray-text{
    color:#79828b;
}
/******************************* HEADER ***********************************/
header{
    padding-top: 30px;
    display: block;
}
header .logo-link{
    display: inline-block;
    margin-top: -11px;
}
header .contacts,
nav.navigation .contacts{
    font-weight: bold;
    font-size: 23px;
    letter-spacing: -0.4px;
    background: url(../images/phone.png) no-repeat #fff;
    padding-left: 31px;
    display: inline-block;
    height: 24px;
}
header .social-container{
    margin-left: -13px;
}
header .search-row{
    padding-top: 14px;
}
header .user-controls-container{
    padding-left: 20px;
}
header .user-controls-container .text-btn.blue-btn{
    margin-left: 7px;
}
header .cart-container .text-container{
    display: inline-block;
    width: 165px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
header .cart-container .fa-long-arrow-right{
    padding: 0 5px;
}
header .cart-container{
    display: inline-block;
    margin-top: 10px;
}

/******************************** NAVIGATION ****************************************/
nav.navigation{	
	background: rgb(59,174,218);
    background: -moz-linear-gradient(top,rgb(59,174,218) 0%,rgb(54,158,198) 50%,rgb(47,139,175) 100%);
    background: -webkit-linear-gradient(top,rgb(59,174,218) 0%,rgb(54,158,198) 50%,rgb(47,139,175) 100%);
    background: -o-linear-gradient(top,rgb(59,174,218) 0%,rgb(54,158,198) 50%,rgb(47,139,175) 100%);
    background: -ms-linear-gradient(top,rgb(59,174,218) 0%,rgb(54,158,198) 50%,rgb(47,139,175) 100%);
    background: linear-gradient(top,rgb(59,174,218) 0%,rgb(54,158,198) 50%,rgb(47,139,175) 100%);
	margin-top: 20px;
}
nav.navigation ul.first-level,
nav.navigation .third-level-container > ul{
	list-style:none;
	margin:0;
	padding:0;
}
nav.navigation ul.first-level > li{
	float: left;
    height: 55px;
    text-align: center;
    /*min-width: 105px;*/
}
nav.navigation ul.first-level > li:hover{
    background-color: #f2f2ec;
    cursor: pointer;
}
nav.navigation ul.first-level > li > a,
nav.navigation ul.first-level > li > i{
	line-height:55px;
	text-transform: uppercase;
	letter-spacing: -0.3px;
    display: inline-block;
    padding: 0px 25px;
    color:#fff;
	font-size: 13px;
}
nav.navigation a,
nav.navigation i{
	color:#fff;
}
nav.navigation a:hover,
nav.navigation i:hover,
nav.navigation li:hover > a,
nav.navigation li:hover > a > i,
nav.navigation li:hover > i,
nav.navigation a:hover > i{
	color:#333;
}
nav.navigation ul.first-level > li:hover > a,
nav.navigation ul.first-level > li:hover > i,
nav.navigation ul.first-level > li.open > a,
nav.navigation ul.first-level > li.open > i{
    color: #333;
}
nav.navigation ul.first-level > li> i{
    padding: 0;
}
nav.navigation ul.first-level > li > a:hover,
nav.navigation ul.first-level > li > a:visited{
	text-decoration:none;
}
/* nav.navigation ul.first-level > li > a:hover{
     color: #333;
 } */
nav.navigation ul.first-level > li.dropdown{
    background: -moz-linear-gradient(top,rgb(245,173,91) 0%,rgb(228,156,74) 50%,rgb(213,141,59) 100%);
    background: -webkit-linear-gradient(top,rgb(245,173,91) 0%,rgb(228,156,74) 50%,rgb(213,141,59) 100%);
    background: -o-linear-gradient(top,rgb(245,173,91) 0%,rgb(228,156,74) 50%,rgb(213,141,59) 100%);
    background: -ms-linear-gradient(top,rgb(245,173,91) 0%,rgb(228,156,74) 50%,rgb(213,141,59) 100%);
    background: linear-gradient(top,rgb(245,173,91) 0%,rgb(228,156,74) 50%,rgb(213,141,59) 100%);
    /*padding: 0px 25px;*/
    font-size: 14px;
    width: 245px;
}
nav.navigation ul.first-level > li.dropdown > a{
    float: left;
    padding: 0 0 0 21px;
    min-width: 197px;
    text-align: left;
}
nav.navigation ul.first-level > li.dropdown > i{
    float:left;
    font-size: 23px;
}
nav.navigation ul.first-level > li.dropdown > i.visible-md.vsible-lg{
    padding-right: 20px;
}
nav.navigation ul.first-level > li.dropdown:hover > ul.second-level,
nav.navigation ul.first-level > li.dropdown.open> ul.second-level,
nav.navigation .third-level-container > ul{
    display: block;
    margin: 0;
    border: 0;
	padding: 15px 0 22px;
}
nav.navigation ul.second-level{
	width:95%;
	background-color:rgb(245,173,91);
	border-radius:0;
}
nav.navigation ul.second-level > li{
	margin-top: 7px;
}
nav.navigation ul.second-level > li > a,
nav.navigation .third-level-container > ul > li > a{
	margin-left: 17px;
	padding: 3px 14px;
    line-height: 23px;
	font-size: 15px;
}
nav.navigation ul.second-level > li   i{
	padding-right:13px;
}
/* nav.navigation ul.second-level > li > a,
nav.navigation ul.second-level > li > i{
	color:#fff;
} */
nav.navigation ul.second-level > li:hover > a,
nav.navigation ul.second-level > li > a:hover
nav.navigation ul.second-level > li:hover > a:hover{
    border-radius: 5px 0px 0px 5px;
}
/* nav.navigation ul.second-level > li:hover > a,
nav.navigation ul.second-level > li:hover > i{
	color:#333;
} */
nav.navigation ul.second-level > li.dropdown {
	position:static;
}
nav.navigation ul.second-level > li.dropdown  div.third-level-container{
	display:none;
}
nav.navigation .third-level-container{
	width:100%;
	background-color:rgb(242,242,236);
}
nav.navigation .third-level-container > ul > li > a{
	    padding: 3px 0 3px 38px;
}
nav.navigation .third-level-container li a{
	color:#333;
	display:block;
}
nav.navigation .third-level-container li{
	margin-top: 7px;
}
/******************************** FOOTER **************************************/
footer .about .row{
    padding-left: 18px;
}
footer p{
    width: 216px;
    letter-spacing: 0.1px;
}
footer .about p{
    padding-top: 30px;
}
footer .menu{
    text-transform: uppercase;
}
footer .menu ul{
    list-style: none;
    padding: 0;
}
footer .menu ul li{
    padding-top: 14px;
}
footer .menu li i{
    color:#e4a8c1;
    font-size: 11px;
}
footer .menu li a{
    color: #79828b;
    padding-left: 10px;
}
footer .contacts{
    padding-left: 23px;
}
footer  h4{
    font-weight: bold;
    font-size: 17px;
    color:#181f24;
}
footer .contacts p{
    padding-top: 11px;
}
footer .join{
    padding-left: 0px;
}
footer .join p{
    padding-top: 7px;
    width: 300px;
}
footer .join .social-container{
    padding-top: 10px;
    padding-left: 3px;
}
footer .general-container{
    background-image: url(../images/hare-footer.png);
    background-repeat: no-repeat;
    background-position: 97% 76%;
}
/******************************* MEDIA QUERIES ********************************/
/* Mobile */
@media (max-width: 760px) {
	header{
	padding-top:20px;
	}
    header .logo-link{
        width: 150px;
    }
    header .img-commerce,
    header .img-favorite{
        width: 14px;
    }
	header .img-favorite{
		padding-top:2px;
	}
    header .image-btn{
        padding: 11px 11px 12px;
		vertical-align: top;
		margin-left:4px;
    }
	header .navbar-toggle,
	header .navbar-toggle.collapsed{
		border-color:rgb(95,60,28);
		float:none;
		border-width: 2px;
		float: none;
		margin: 0 0 0 7px;
		border-radius: 10px;
		padding: 10px 10px;
	}
	header .navbar-toggle,
	header .navbar-toggle.collapsed .icon-bar{
		background:rgb(95,60,28);
	}
	header .navbar-toggle.collapsed ,
	header .navbar-toggle .icon-bar{
		background:#fff;
	}
	header .navbar-toggle .icon-bar{
		width: 12px;
	}
	.mobile-collapsed{
		display:none;
	}
	nav.navigation{
		margin-top:13px;
	}
	nav.navigation  > .container{
		padding:0;
	}
	nav.navigation ul.second-level{
		width:100%;
	}
	nav.navigation ul.second-level > li:hover > a, 
	nav.navigation ul.second-level > li > a:hover,
	nav.navigation ul.second-level > li:hover > a:hover{
		border-radius: 5px;
		margin-right: 13px;
	}
	nav.navigation ul.first-level{
		margin:25px 0 0 0px;
	}
	nav.navigation ul.first-level > li,
	nav.navigation ul.first-level > li.dropdown{
		float:none;
		text-align: initial;
		width:auto;
		background:none;
		height: 35px;
	}
	nav.navigation ul.first-level > li > a,
	nav.navigation ul.first-level > li.dropdown > a	{
		float:none;
		padding: 0 0 0 35px;
	}
	nav.navigation ul.first-level > li > a,
	nav.navigation ul.first-level > li > i{
		font-size:17px;
		line-height:35px;
	}
	nav.navigation ul.first-level > li:hover{
		background-color: #f2f2ec;
	}
	nav.navigation .contacts{
		color:#fff;
		height:auto;
		display:block;
		background-color:transparent;    
		font-size: 20px;
		margin: 18px 19px;
		letter-spacing: 0.5px;
	}
	nav.navigation .location-container{
		margin-top:10px;
	}
	nav.navigation  .geo-title{
		text-align: right;
		display: block;
		color: #fff;
		font-size: 17px;
	}
	nav.navigation .text-btn{
		font-size: 12px;
		padding: 5px 25px;
	}
	nav.navigation .text-btn.blue-btn{
		padding: 5px 14px;
	}
	nav.navigation .user-buttons-container,
	nav.navigation .search-container{
		margin-top:28px;
	}
	nav.navigation .registration-container{
		text-align: right;
		padding-right: 10px;
	}
	nav.navigation .profile{
		padding-left:6px;
	}
	nav.navigation .search-container .search-input-container {
		position: relative;
		padding-left: 12px;
		padding-bottom: 29px;
	}
	nav.navigation .search-container .search-input-container input.form-control {
		width: 267px;
	}
	nav.navigation .search-container .search-input-container .search-input~i.fa-search {
		position: absolute;
		top: 7px;
		left: 255px;
		font-size: 15px;
	}
    footer .general-container{
        background-position: 120% 76%;
    }
    footer .contacts{
        text-align: center;
    }
    footer .contacts p{
        display: inline-block;
    }
    footer .contacts .social-container{
        padding-top: 19px;
    }
}

/* Tablet */
@media (min-width: 760px) and (max-width:992px) { 
	.text-btn.yellow-btn{
        padding: 4px 17px;
	}
    .text-btn.blue-btn{
        padding: 4px 6px;
	}
    .image-btn {
         padding: 12px 12px 15px;
     }
    header{
          padding-top: 18px;
      }
    header .logo-link{
        margin: 0;
        padding-top: 15px;
    }
    header .contacts-container{
        text-align: right;
        padding:0 8px 10px 0;
    }
    header .contacts-container .contacts{
        letter-spacing: -1.4px;
    }
    header .cart-container{
        margin-top: 0;
    }
    header .cart-container .text-container {
        width: 138px;
    }
    header .cart-container .text-container{
        letter-spacing: -0.4;
        font-size: 13px;
        margin-left: 4px;
        width: 120px;
    }
    .search-input-container{
        display: inline-block;
        padding-left: 0;
    }
    .search-input-container .search-input {
        width: 95px;
        height: 23px;
    }
    .search-input-container .search-input~i.fa-search{
        top: 3px;
        left: 75px;
    }
    header .buttons-container{
        margin-left: -14px;
    }
    header .search-button-container{
        padding-top: 5px;
    }
    footer .general-container{
        background-position: 100% 76%;
    }
	nav.navigation{
		margin-top:8px;
	}
	nav.navigation ul.second-level > li.dropdown:hover >div.third-level-container,
	nav.navigation ul.second-level > li.dropdown:hover >div.third-level-container>div.third-level-container{
		display: block;
		position:absolute;
		margin: 0;
		border: 0;
		left: 100%;
		top:0;
	}
	nav.navigation ul.second-level > li.dropdown:hover >div.third-level-container>div.third-level-container{
		width:128%;
	}
	nav.navigation ul.first-level > li.dropdown{
		width:auto;
		min-width:120px;
		position:static;
	}
	nav.navigation ul.first-level > li.dropdown > a{
		min-width: auto;
		padding: 0px 10px 0 0;
	}
	nav.navigation ul.first-level > li > a,
	nav.navigation ul.first-level > li > i{
		padding:0 8px;
	}	
	nav.navigation ul.first-level > li.dropdown > i.visible-sm{
		padding-left: 10px;
	}
	nav.navigation ul.first-level > li.dropdown:hover > ul.second-level,
	nav.navigation ul.first-level > li.dropdown.open > ul.second-level{
		width:auto;
		top:initial;
		margin-top:55px;
		padding: 15px 0 22px; 
		border:none;
	}
	
 }
/* (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-btn.yellow-btn{
        padding:6px 38px;
    }
    .text-btn.blue-btn{
        padding:6px 30px;
    }
	
	nav.navigation ul.second-level > li.dropdown:hover  div.third-level-container{
		display: block;
		position:absolute;
		margin: 0;
		border: 0;
		left: 100%;
		top:0;
	}
}
@media (min-width: 992px) and (max-width: 1200px)
{
    input.form-control.search-input{
        width: 257px;
    }
    .text-btn.blue-btn,
    .text-btn.yellow-btn{
        padding: 6px 25px;
    }
    header .contacts span {
        display: inline-block;
        line-height: 22px;
    }
    header .cart-container .text-container {
        width: 138px;
    }
	.search-input-container .search-input~i.fa-search {
		left: 238px;
	}
	
	nav.navigation ul.first-level > li.dropdown{
		width:200px;
	}
	nav.navigation ul.first-level > li.dropdown > a {
		min-width: 160px;
	}
	nav.navigation ul.first-level > li > a, 
	nav.navigation ul.first-level > li > i{
		padding:0 10px;
	}
	nav.navigation ul.first-level > li.dropdown > i{
		padding-right:10px;
	}
	nav.navigation ul.second-level > li > a,
	nav.navigation .third-level-container > ul > li > a{
		margin-left:0;
		padding:3 10px;
		font-size:14px;
	}
	nav.navigation ul.second-level > li   i{
		padding-right:5px;
	}
	nav.navigation ul.first-level > li.dropdown:hover > ul.second-level, 
	nav.navigation .third-level-container > ul{
		padding:5 0 10px;
	}

}
 /* Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px){ 
	nav.navigation ul.second-level > li.dropdown:hover  div.third-level-container.last{
		width:118%;
	}
 }